<div class="row">
    <div class="col-sm-6 col-xl-12 col-md-12" *ngIf="requestData && requestData.length > 0">
        <div class="card" *ngFor="let item of requestData">
            <div class="card-body" *ngIf="userTypeId == 4">
                <div class="row mb-3 align-items-center">
                    <div class="col-sm-6 com-md-6 col-lg-6">
                        <div class="float-left" style="color: #673ab7;">
                            <span><small>REQUEST NUMBER</small></span>
                            <h3>{{item.requestNumber}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-6">
                        <div class="float-right">
                            <!-- <span><small>STATUS</small></span><br> -->
                            <div class="alert  {{item.currentStageId == 8 ? 'alert-success' : 'alert-danger' }}">
                                {{item.stageName}}</div>
                            <!-- <button class="btn btn-sm {{item.currentStageId == 8 ? 'btn-success' : 'btn-danger' }}" >{{item.stageName}}</button> -->

                        </div>
                    </div>
                </div>
                <hr />
                <div class="row align-items-start">
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Request Date</h5>
                        <h4>{{item.requestDateTime | date:'dd MMM, yyyy hh:mm a' }}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Customer</h5>
                        <h4>{{item.customerFirstName + ' ' + item.customerLastName}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Contact</h5>
                        <h4>{{item.customerContactNo}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2"
                        *ngIf="item.currentStageId == 9 || item.currentStageId == 10">
                        <h5 class="mb-0 text-muted">Cancelled Date</h5>
                        <h4>{{item.actionDatetime | date:'dd MMM, yyyy hh:mm a' }}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2"
                        *ngIf="item.currentStageId != 9 && item.currentStageId != 10">
                        <h5 class="mb-0 text-muted">Payment Date</h5>
                        <h4>{{item.paymentDateTime | date:'dd MMM, yyyy hh:mm a' }}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Vehicle Number</h5>
                        <h4>{{item.customerVehicleNumber}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Distance</h5>
                        <h4>{{item.distanceKM}} KM</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Duration</h5>
                        <h4>{{item.durationInMins}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Total Amount</h5>
                        <h4><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                                class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path
                                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                            </svg>
                            {{item.totalAmount}}
                        </h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-6 mb-2">
                        <h5 class="mb-0 text-muted">PickUp Location</h5>
                        <h4>{{item.pickUpLocation}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-6 mb-2">
                        <h5 class="mb-0 text-muted">Drop Off Location</h5>
                        <h4>{{item.dropOffLocation}}</h4>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="userTypeId == 2">
                <div class="row mb-3 align-items-center">
                    <div class="col-sm-6 com-md-6 col-lg-6">
                        <div class="float-left" style="color: #673ab7;">
                            <span><small>REQUEST NUMBER</small></span>
                            <h3>{{item.requestNumber}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-6">
                        <div class="float-right">
                            <div class="alert  {{item.currentStageId == 8 ? 'alert-success' : 'alert-danger' }}">
                                {{item.stageName}}</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row align-items-start">
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Request Date</h5>
                        <h4>{{item.requestDateTime | date:'dd MMM, yyyy hh:mm a' }}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Vendor</h5>
                        <h4>{{item.vendorFirstName + ' ' + item.vendorLastName}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Contact</h5>
                        <h4>{{item.vendorContactNo}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2"
                        *ngIf="item.currentStageId == 9 || item.currentStageId == 10">
                        <h5 class="mb-0 text-muted">Cancelled Date</h5>
                        <h4>{{item.actionDatetime | date:'dd MMM, yyyy hh:mm a' }}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2"
                        *ngIf="item.currentStageId != 9 && item.currentStageId != 10">
                        <h5 class="mb-0 text-muted">Payment Date</h5>
                        <h4>{{item.paymentDateTime | date:'dd MMM, yyyy hh:mm a' }}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Vehicle Number</h5>
                        <h4>{{item.vendorVehicleNumber}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Distance</h5>
                        <h4>{{item.distanceKM}} KM</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Duration</h5>
                        <h4>{{item.durationInMins}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-3 mb-2">
                        <h5 class="mb-0 text-muted">Total Amount</h5>
                        <h4><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                                class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path
                                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                            </svg>
                            {{item.totalAmount}}
                        </h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-6 mb-2">
                        <h5 class="mb-0 text-muted">PickUp Location</h5>
                        <h4>{{item.pickUpLocation}}</h4>
                    </div>
                    <div class="col-sm-6 com-md-6 col-lg-6 mb-2">
                        <h5 class="mb-0 text-muted">Drop Off Location</h5>
                        <h4>{{item.dropOffLocation}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="norecordhis col-sm-12" *ngIf="requestData.length == 0">
        <div class="card">
            <div class="card-body" style="font-size: 16px;">
                No Records Found
            </div>
        </div>
    </div>
</div>