<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo.png" style="width: 50%;" />
          </a>
          <!-- <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Sign up with Sarthi Towing</b></h2>
              </div>
            </div>
          </div> -->
          <!-- <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted" style="width: 100%">
            <img src="assets/images/authentication/google-icon.svg" />Sign Up With Google
          </button>
          <div class="saprator mt-3">
            <span>or</span>
          </div> -->
          <h5 class="my-4 d-flex justify-content-center b"> Sign Up with Email address </h5>
          <from [formGroup]="registerForm">
            <div class="row">
              <div class="col-md-6">
                <div style="color:red"
                *ngIf="!registerForm.controls.FirstName?.valid && (registerForm.controls.FirstName?.dirty
                ||registerForm.controls.FirstName?.touched)">
                  First Name is not valid
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput"  formControlName="FirstName" placeholder="name@example.com"  [(ngModel)]="registerClientObj.firstName"/>
                  <label for="floatingInput">First Name</label>
                </div>
                
              </div>
              <div class="col-md-6">
                <div style="color:red"
                *ngIf="!registerForm.controls.LastName?.valid && (registerForm.controls.LastName?.dirty
                ||registerForm.controls.LastName?.touched)">
                Last Name is not valid
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" formControlName="LastName" [(ngModel)]="registerClientObj.lastName" placeholder="name@example.com" />
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div style="color:red"
                *ngIf="!registerForm.controls.Email?.valid && (registerForm.controls.Email?.dirty
                ||registerForm.controls.Email?.touched)">
                Email is not valid
                </div>
                <div style="color:red"
                *ngIf="registerForm.controls.Email.hasError('pattern')">
                Please enter correct email ..!
                </div>
                
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput"  formControlName="Email" [(ngModel)]="registerClientObj.email" placeholder="name@example.com" />
                  <label for="floatingInput">Email Address / Username</label>
                </div>
              </div>
              <div class="col-md-6">
                <div style="color:red"
                *ngIf="!registerForm.controls.Contact?.valid && (registerForm.controls.Contact?.dirty
                ||registerForm.controls.Contact?.touched)">
                Mobile number is not valid
                </div>
                <div style="color:red"
                *ngIf="registerForm.controls.Contact.hasError('pattern')">
                Please enter correct mobile number ..!
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" formControlName="Contact" maxlength="10" [(ngModel)]="registerClientObj.contactNo" placeholder="name@example.com" />
                  <label for="floatingInput">Mobile Number</label>
                </div>
              </div>

              <div class="col-md-6">
                <div style="color:red"
                *ngIf="!registerForm.controls.VehicleNumber?.valid && (registerForm.controls.VehicleNumber?.dirty
                ||registerForm.controls.VehicleNumber?.touched)">
                Vehicle Number is not valid
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" formControlName="VehicleNumber" [(ngModel)]="registerClientObj.vehicleNumber" placeholder="name@example.com" />
                  <label for="floatingInput">VehicleNumber</label>
                </div>
              </div>
              <div class="col-md-6">
                <div style="color:red"
                *ngIf="!registerForm.controls.Password?.valid && (registerForm.controls.Password?.dirty
                ||registerForm.controls.Password?.touched)">
                Password is not valid
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingInput" formControlName="Password" [(ngModel)]="registerClientObj.password" placeholder="name@example.com" />
                  <label for="floatingInput">Password</label>
                </div>
              </div>
              <div class="col-md-6">
                <div style="color:red"
                *ngIf="!registerForm.controls.ConfirmPassword?.valid && (registerForm.controls.ConfirmPassword?.dirty
                ||registerForm.controls.ConfirmPassword?.touched)">
                Confirm Password is not match
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingInput" formControlName="ConfirmPassword" placeholder="name@example.com" />
                  <label for="floatingInput">Confirm Password</label>
                </div>
              </div>
            </div>
          </from>

          <div class="form-check mt-3s">
            <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
            <label class="form-check-label" for="customCheckc1">
              <h5>Agree with <span>Terms & Condition.</span></h5>
            </label>
          </div>
          <div class="d-grid mt-4">
            <button type="button" [disabled]="registerForm.invalid" (click)="registerClient()" class="btn btn-secondary p-2">Sign Up</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/login']"> Already have an account? </a>
          </h5>



        </div>
      </div>
    </div>
  </div>