<!-- [ Sidebar Menu ] start -->
<nav class="" style="margin-top: 20px;">
  <div class="navbar-wrapper">
    <div class="m-header">
      <!-- [ Header Topbar ] start -->
      <a [routerLink]="['/customer/']" class="b-brand">
        <!-- ========   change your logo hear   ============ -->
        <img src="assets/images/InLogo.png" alt="" class="logo logo-lg" />
      </a>
    </div>
    <app-nav-content (onNavCollapsedMob)="navCollapseMob()" class="scroll-div w-100 compact"></app-nav-content>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
